# Clustering Analysis

## PreAnalysis

### Loading Data

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [9]:
# Best params
RESULTS_PATH = os.path.join('..', 'results')
HIST_BEST = os.path.join(RESULTS_PATH, 'hist_best_params.csv')
LATENT_BEST = os.path.join(RESULTS_PATH, 'latent_best_params.csv')

In [18]:
# Data features
FEATURES_PATH = os.path.join('..', 'features')
LATENT_PATH = os.path.join(FEATURES_PATH, 'incv1_feats.csv')
HIST_PATH = os.path.join(FEATURES_PATH, 'color_hist.csv')

In [ ]:
# Best techniques
BEST_TECHNIQUES = os.path.join(RESULTS_PATH, 'all.csv')

We load the best params to include them all into a nice visual dataframe.

In [114]:
hist_params = pd.read_csv(HIST_BEST)
latent_params = pd.read_csv(LATENT_BEST)

In [115]:
dbscan_best_params = pd.concat([hist_params, latent_params], axis=0, ignore_index=True)
dbscan_best_params

   m      e    data  scaled similarity  sscore  clusters  instances
0  2   0.16    hist   False     cosine    0.44         2        147
1  2   0.19    hist   False     cosine    0.37         3        163
2  4  11.80  latent   False     euclid    0.46         9        140
3  3   0.20  latent   False     cosine    0.68        11        144

We load the original features so we can cluster them using the best params

In [19]:
latent_feats = pd.read_csv(LATENT_PATH)
latent_feats.head(3)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,1014,1015,1016,1017,1018,1019,1020,1021,1022,1023
0,1222__pool_table__0.9999995.jpg,0.882798,0.896023,0.123852,0.257982,0.036050,0.108023,0.633841,0.457301,1.684949,...,0.422634,0.346122,0.111589,1.441579,0.198722,0.246648,0.295942,0.560950,0.058328,0.117393
1,1328__coil__0.99999607.jpg,0.483815,0.134309,0.021849,0.367267,0.089250,0.007518,0.069921,0.219347,0.089260,...,0.049852,0.004140,0.199223,0.718976,0.000000,0.000000,0.000000,0.159411,0.012007,0.001601
2,134__zebra__0.9999949.jpg,0.291067,0.375913,0.217742,1.269691,0.384181,0.076470,0.662070,0.662391,0.827774,...,0.018289,0.000000,0.000775,0.903884,0.589769,0.016957,0.418493,0.005350,0.004198,0.185460

In [20]:
hist_feats = pd.read_csv(HIST_PATH)
hist_feats.head(3)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,758,759,760,761,762,763,764,765,766,767
0,1222__pool_table__0.9999995.jpg,178,51,43,49,37,40,54,57,57,...,8,5,12,9,13,14,12,12,7,51
1,1328__coil__0.99999607.jpg,47,39,66,118,112,134,143,164,194,...,97,114,127,188,211,172,121,90,61,186
2,134__zebra__0.9999949.jpg,0,0,1,1,4,4,7,5,12,...,34,17,40,14,25,12,2,4,2,13

We load the best interpretation techniques selected for each image, and we convert it to a map we can easily consult

In [89]:
techniques = pd.read_csv(BEST_TECHNIQUES, sep=';', header=None, dtype='object')
techniques.head(3)

      0           1           2     3
0  1222  pool_table   0.9999995  lime
1  1328        coil  0.99999607    ig
2   134       zebra   0.9999949  xrai

In [177]:
def gen_name_technique_tuples(x):
    return ['__'.join([str(x[0]), x[1], str(x[2])]) + '.jpg', x[3]]

In [178]:
foo = techniques.apply(gen_name_technique_tuples, axis=1)
foo.values[:3]

array([list(['1222__pool_table__0.9999995.jpg', 'lime']),
       list(['1328__coil__0.99999607.jpg', 'ig']),
       list(['134__zebra__0.9999949.jpg', 'xrai'])], dtype=object)

In [179]:
name_tech_map = {name: tech for name, tech in foo.values}

## Clustering

In [108]:
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score

In [120]:
feats_map = {
    'hist': hist_feats,
    'latent': latent_feats
}

In [125]:
sim_metric_map = {
    'euclid': 'euclidean',
    'cosine': 'cosine'
}

In [121]:
dbscan_best_params.values

array([[2, 0.16, 'hist', False, 'cosine', 0.44, 2, 147],
       [2, 0.19, 'hist', False, 'cosine', 0.37, 3, 163],
       [4, 11.8, 'latent', False, 'euclid', 0.46, 9, 140],
       [3, 0.2, 'latent', False, 'cosine', 0.68, 11, 144]], dtype=object)

In [163]:
def get_clustering_results(params, feats_types, metric_types):
    results = {}
    for i, param_set in enumerate(params):
        # Prepare parameters
        data = feats_types[param_set[2]]
        img_names = data.values[:, 0]
        instances = data.values[:, 1:]
        metric = metric_types[param_set[4]]
        # Do clustering
        dbscan = DBSCAN(min_samples=param_set[0], eps=param_set[1], metric=metric)
        dbscan = dbscan.fit(instances)
        # Generate {img_name : label} mapping
        name_label_map = {name: label for name, label in zip(img_names, dbscan.labels_)}
        results[i] = name_label_map
    return results

In [164]:
res = get_clustering_results(dbscan_best_params.values, feats_map, sim_metric_map)

In [165]:
np.unique(list(res[3].values()))

array([-1,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [148]:
dbscan_best_params

   m      e    data  scaled similarity  sscore  clusters  instances
0  2   0.16    hist   False     cosine    0.44         2        147
1  2   0.19    hist   False     cosine    0.37         3        163
2  4  11.80  latent   False     euclid    0.46         9        140
3  3   0.20  latent   False     cosine    0.68        11        144

Param set # 2 is the most variated so far. We need a way to enforce a min. no. of instances on every cluster, because right now every clustering obteined has one cluster with many instances and the rest of the clusters only contain two or ther clustered instances

In [172]:
res[2]

{'1222__pool_table__0.9999995.jpg': -1,
 '1328__coil__0.99999607.jpg': -1,
 '134__zebra__0.9999949.jpg': 0,
 '2377471__pizza__0.9999988.jpg': 1,
 '2377620__zebra__0.9999882.jpg': 0,
 '2377698__zebra__0.9999999.jpg': 0,
 '2378170__zebra__0.9999902.jpg': 0,
 '2378358__park_bench__0.99999833.jpg': -1,
 '2378523__banana__0.99999785.jpg': 2,
 '2379086__zebra__0.9999975.jpg': 0,
 '2379489__parking_meter__0.9999989.jpg': 3,
 '2380017__zebra__0.9999995.jpg': 0,
 '2380019__zebra__0.9999926.jpg': 0,
 '2380189__zebra__0.9999993.jpg': 0,
 '2380319__broccoli__0.9999957.jpg': 4,
 '2380447__bullet_train__0.9999869.jpg': -1,
 '2380669__parking_meter__0.9999993.jpg': 3,
 '2380865__traffic_light__0.99999714.jpg': -1,
 '2380905__gondola__0.9999888.jpg': -1,
 '2380925__zebra__0.9999987.jpg': 0,
 '2381648__zebra__0.9999995.jpg': 0,
 '2381879__zebra__0.99999523.jpg': 0,
 '2381932__traffic_light__0.99999964.jpg': -1,
 '2381941__zebra__0.9999914.jpg': 0,
 '2381968__ski__0.999984.jpg': 5,
 '2382183__pizza__0.99998593.jpg': 1,
 '2382436__park_bench__0.99999964.jpg': -1,
 '2382474__bow_tie__0.9999982.jpg': -1,
 '2382589__zebra__0.9999982.jpg': 0,
 '2382792__umbrella__0.9999838.jpg': -1,
 '2382909__zebra__0.9999988.jpg': 0,
 '2382913__zebra__0.9999883.jpg': 0,
 '2383286__zebra__0.99999857.jpg': 0,
 '2383569__parking_meter__0.9999988.jpg': 3,
 '2383706__umbrella__0.9999994.jpg': 8,
 '2384145__street_sign__0.9999987.jpg': 6,
 '2384512__zebra__0.99999726.jpg': 0,
 '2384755__street_sign__0.9999924.jpg': 6,
 '2385034__zebra__0.9999981.jpg': 0,
 '2385039__zebra__0.9999844.jpg': 0,
 '2385187__street_sign__0.99999595.jpg': 6,
 '2385298__parking_meter__0.9999865.jpg': 3,
 '2385461__zebra__0.99998415.jpg': 0,
 '2385767__zebra__0.9999958.jpg': 0,
 '2386049__king_penguin__0.99999917.jpg': -1,
 '2386068__zebra__0.9999949.jpg': 0,
 '2386193__broccoli__0.9999924.jpg': 4,
 '2386456__zebra__0.9999989.jpg': 0,
 '2386750__pizza__0.9999889.jpg': 1,
 '2387034__zebra__0.9999896.jpg': 0,
 '2387038__street_sign__0.9999888.jpg': 6,
 '2387305__traffic_light__1.0.jpg': -1,
 '2387437__parking_meter__0.9999839.jpg': 3,
 '2388441__banana__0.9999993.jpg': 2,
 '2388889__hotdog__0.99999714.jpg': -1,
 '2389131__pizza__0.9999943.jpg': 1,
 '2389163__zebra__0.9999957.jpg': 0,
 '2389324__zebra__0.9999993.jpg': 0,
 '2389484__street_sign__0.99998474.jpg': 6,
 '2390296__umbrella__0.99999106.jpg': 8,
 '2391408__traffic_light__0.99999654.jpg': 7,
 '2391701__zebra__0.9999912.jpg': 0,
 '2391862__broccoli__0.99999714.jpg': 4,
 '2391918__steam_locomotive__0.99999845.jpg': -1,
 '2391964__flamingo__1.0.jpg': -1,
 '2392124__zebra__0.99999523.jpg': 0,
 '2392324__traffic_light__0.9999964.jpg': -1,
 '2392349__umbrella__0.9999994.jpg': -1,
 '2392405__parking_meter__0.9999993.jpg': 3,
 '2392579__zebra__0.9999969.jpg': 0,
 '2392619__zebra__0.9999875.jpg': 0,
 '2392730__pizza__0.9999974.jpg': 1,
 '2392818__park_bench__0.99999.jpg': -1,
 '2393774__zebra__0.9999995.jpg': 0,
 '2394019__zebra__0.99999285.jpg': 0,
 '2394082__street_sign__0.99999905.jpg': 6,
 '2395038__zebra__0.9999976.jpg': 0,
 '2395510__traffic_light__0.9999993.jpg': -1,
 '2395716__pizza__0.9999968.jpg': 1,
 '2395787__pizza__0.99999535.jpg': 1,
 '2396034__remote_control__0.9999856.jpg': -1,
 '2396153__brown_bear__0.9999938.jpg': -1,
 '2397486__zebra__0.9999875.jpg': 0,
 '2398585__bow_tie__0.9999838.jpg': -1,
 '2398771__traffic_light__0.99999.jpg': 7,
 '2398975__umbrella__0.9999958.jpg': 8,
 '2399217__umbrella__0.9999863.jpg': 8,
 '2399675__zebra__0.9999883.jpg': 0,
 '2400121__pizza__0.9999962.jpg': 1,
 '2400622__zebra__0.9999901.jpg': 0,
 '2401217__traffic_light__0.9999895.jpg': 7,
 '2401224__zebra__0.9999882.jpg': 0,
 '2401383__slug__0.9999933.jpg': -1,
 '2401691__pineapple__0.999998.jpg': -1,
 '2401906__parking_meter__1.0.jpg': 3,
 '2401921__zebra__0.99999845.jpg': 0,
 '2402056__toilet_seat__0.99999917.jpg': -1,
 '2402132__traffic_light__0.9999951.jpg': 7,
 '2402264__zebra__0.9999931.jpg': 0,
 '2402745__bullet_train__0.99999857.jpg': -1,
 '2402950__zebra__0.99999344.jpg': 0,
 '2403199__zebra__0.9999869.jpg': 0,
 '2403338__seat_belt__0.99999917.jpg': -1,
 '2403403__banana__0.9999926.jpg': 2,
 '2403741__zebra__0.99999523.jpg': 0,
 '2404051__street_sign__0.9999999.jpg': 6,
 '2404127__zebra__0.9999933.jpg': 0,
 '2404229__zebra__0.99998367.jpg': 0,
 '2404281__zebra__0.999998.jpg': 0,
 '2404583__umbrella__0.99999297.jpg': 8,
 '2404955__banana__0.9999995.jpg': 2,
 '2405041__broccoli__0.99999845.jpg': 4,
 '2405042__parking_meter__0.99999094.jpg': 3,
 '2405210__pizza__0.9999869.jpg': 1,
 '2405280__zebra__0.9999938.jpg': 0,
 '2405479__traffic_light__0.9999939.jpg': -1,
 '2405905__traffic_light__0.99999535.jpg': -1,
 '2406209__brown_bear__0.999985.jpg': -1,
 '2406581__zebra__0.9999939.jpg': 0,
 '2406857__zebra__0.9999894.jpg': 0,
 '2406887__ski__0.99999785.jpg': 5,
 '2407130__umbrella__0.9999888.jpg': -1,
 '2407788__pizza__0.99999785.jpg': 1,
 '2407951__zebra__0.9999975.jpg': 0,
 '2408592__goose__0.999998.jpg': -1,
 '2408701__zebra__0.9999981.jpg': 0,
 '2408719__ski__0.99999297.jpg': 5,
 '2408884__zebra__0.9999913.jpg': 0,
 '2408970__zebra__0.9999865.jpg': 0,
 '2409063__zebra__0.999997.jpg': 0,
 '2409266__zebra__0.99999774.jpg': 0,
 '2409472__umbrella__0.9999845.jpg': -1,
 '2409550__street_sign__0.99999905.jpg': 6,
 '2409589__zebra__0.99999976.jpg': 0,
 '2409637__four-poster__0.99999464.jpg': -1,
 '2409765__zebra__0.99999833.jpg': 0,
 '2409822__steam_locomotive__0.9999906.jpg': -1,
 '2409953__brown_bear__0.99998903.jpg': -1,
 '2410081__parking_meter__1.0.jpg': 3,
 '2410336__zebra__0.99999547.jpg': 0,
 '2410410__ski__0.99999356.jpg': 5,
 '2410440__parking_meter__0.99999106.jpg': -1,
 '2410779__parking_meter__0.99999917.jpg': 3,
 '2410903__steam_locomotive__0.9999876.jpg': -1,
 '2410974__toilet_seat__0.9999939.jpg': -1,
 '2411097__zebra__0.9999974.jpg': 0,
 '2411196__crane__0.9999995.jpg': -1,
 '2411372__parking_meter__0.999995.jpg': 3,
 '2411390__parking_meter__0.9999988.jpg': 3,
 '2411407__zebra__0.9999969.jpg': 0,
 '2411645__parking_meter__0.999985.jpg': 3,
 '2411646__banana__0.99999595.jpg': -1,
 '2411665__zebra__0.99998856.jpg': 0,
 '2411784__traffic_light__0.9999945.jpg': -1,
 '2411841__zebra__0.99999833.jpg': 0,
 '2411942__zebra__0.99999654.jpg': 0,
 '2412027__school_bus__0.99998724.jpg': -1,
 '2412267__zebra__0.9999939.jpg': 0,
 '2412402__zebra__0.9999877.jpg': 0,
 '2412908__zebra__0.99998975.jpg': 0,
 '2412939__forklift__0.9999883.jpg': -1,
 '2413024__banana__1.0.jpg': 2,
 '2413227__park_bench__0.99998546.jpg': -1,
 '2413495__traffic_light__0.9999925.jpg': -1,
 '2413521__parking_meter__0.99999976.jpg': 3,
 '2413786__parking_meter__0.9999925.jpg': 3,
 '2414277__zebra__0.9999908.jpg': 0,
 '2414335__refrigerator__0.9999889.jpg': -1,
 '2414384__ski__0.9999949.jpg': 5,
 '2414513__bagel__0.9999893.jpg': -1,
 '2414760__zebra__0.9999895.jpg': 0,
 '2414892__pizza__0.99999857.jpg': 1,
 '2414996__park_bench__0.9999907.jpg': -1,
 '2415102__zebra__0.9999876.jpg': 0,
 '2415402__zebra__0.99998903.jpg': 0,
 '2415567__zebra__0.9999902.jpg': 0,
 '2415648__broccoli__0.9999943.jpg': 4,
 '2415737__parking_meter__0.99999785.jpg': 3,
 '2415910__zebra__0.9999962.jpg': 0,
 '2416228__parking_meter__0.9999914.jpg': 3,
 '2416408__zebra__0.9999962.jpg': 0,
 '2416516__zebra__0.99999714.jpg': 0,
 '2416627__zebra__0.9999987.jpg': 0,
 '2417055__broccoli__0.9999864.jpg': 4,
 '2417382__zebra__0.9999864.jpg': 0,
 '2417395__zebra__0.9999993.jpg': 0,
 '2417421__parking_meter__0.9999999.jpg': 3,
 '2417586__zebra__0.99999535.jpg': 0,
 '2417881__zebra__0.9999945.jpg': 0,
 '2417938__banana__0.9999944.jpg': -1,
 '4099__pool_table__0.9999945.jpg': -1,
 '4339__manhole_cover__0.99999416.jpg': -1,
 '4534__viaduct__0.9999877.jpg': -1,
 '4573__barrel__0.9999974.jpg': -1,
 '4673__triumphal_arch__0.9999893.jpg': -1,
 '576__gondola__0.9999993.jpg': -1,
 '577__gondola__0.9999962.jpg': -1,
 '691__cheetah__0.99999213.jpg': -1}

## Clustering Analysis

In [169]:
def get_clustering_analysis(name_labels_map, name_tech_map):
    # clusters = np.unique(list(name_labels_map.values()))
    cluster_stats = {}
    for name, label in name_labels_map.items():
        if (label == -1): continue # ignore noise cluster
        # Add cluster no. to stats if it has not been added early
        if (label not in cluster_stats.keys()): cluster_stats[label] = {}
        # Get technique
        technique = name_tech_map[name]
        # If technique is in cluster stats
        if (technique in cluster_stats[label].keys()):
            cluster_stats[label][technique] += 1 # add one...
        else:
            cluster_stats[label][technique] = 1 # else, create with one
    return cluster_stats

In [180]:
clustering_no2_res = get_clustering_analysis(res[2], name_tech_map)

Best techniques frecuencies per cluster in clustering # 2 (m=4 and e=11.8 with latent features and euclidean metric)

In [181]:
clustering_no2_res

{0: {'xrai': 13, 'ig': 54, 'lime': 7, 'anchor': 4},
 1: {'ig': 11},
 2: {'ig': 5},
 3: {'ig': 13, 'xrai': 3, 'lime': 2},
 4: {'ig': 6},
 5: {'xrai': 2, 'ig': 3},
 8: {'ig': 5},
 6: {'ig': 8},
 7: {'ig': 4}}

## TODO: Create soft voting metrics for intracluster evaluation

In [192]:
len(name_tech_map)

202

In [194]:
counts = np.unique(list(name_tech_map.values()), return_counts=True)
counts

(array(['anchor', 'ig', 'lime', 'nan', 'xrai'], dtype='<U6'),
 array([ 11, 147,  11,   4,  29], dtype=int64))

In [189]:
foo

0       [1222__pool_table__0.9999995.jpg, lime]
1              [1328__coil__0.99999607.jpg, ig]
2             [134__zebra__0.9999949.jpg, xrai]
3           [2377471__pizza__0.9999988.jpg, ig]
4         [2377620__zebra__0.9999882.jpg, lime]
                         ...
3065    [1222__pool_table__0.9999995.jpg, xrai]
3066           [1328__coil__0.99999607.jpg, ig]
3067          [134__zebra__0.9999949.jpg, xrai]
3068        [2377471__pizza__0.9999988.jpg, ig]
3069      [2377620__zebra__0.9999882.jpg, xrai]
Length: 3070, dtype: object

In [190]:
techniques

            0           1           2     3
0        1222  pool_table   0.9999995  lime
1        1328        coil  0.99999607    ig
2         134       zebra   0.9999949  xrai
3     2377471       pizza   0.9999988    ig
4     2377620       zebra   0.9999882  lime
...       ...         ...         ...   ...
3065     1222  pool_table   0.9999995  xrai
3066     1328        coil  0.99999607    ig
3067      134       zebra   0.9999949  xrai
3068  2377471       pizza   0.9999988    ig
3069  2377620       zebra   0.9999882  xrai

[3070 rows x 4 columns]